@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');*/
@charset "utf-8";
* {
  
  outline: none;
  border: none;
  border-radius: 0;
  white-space:normal;
  
  resize: none;
  
  text-decoration: none;
  
  appearance: none;
}
/*aタグ色の変更*/
a {
  color: royalblue;
}

a:hover {
  color: springgreen;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: ;
  
 /*font-size*/
 
  /*overflow-x: hidden;
 animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;*/
}
#h1 {
  font-size:21px;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
html { scroll-behavior: smooth;}
.logo {
  color: black;
  font-size: 3rem;
  padding: 10% 0;
  color:white;
}
.cnt {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
#read {
  cursor: pointer;
}
details {
  margin-left: 15px; 
}
.blog_box {
  border: solid;
  margin:10px 10% 0 10%;
  border-radius: 10px;
}
#start {
  font-size: 30px;
}
#header-2 { /**
background-color:coral none;
width:100%;
height:4em;
text-align:center;
position:sticky;
top:0;
opacity:0.8;**/
}
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #3f98ef;
  opacity: 0.6;
  
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}


#u {
background-image: url("無題 2022-07-22 21-05-47.jpg");
}
-->

#home_logo {
  padding-top:18em;
　
}
.home_logo_img{
  width:38px;
  height: auto;
}

#home_logo2 {
  padding-top:20em;

}
#prof {
background-color:white;

}
#irai {
background-color:;	
}
#links {
background-color:#363636;
color:white;
}

#sougo {
background-color: ;
}

#gr {
background-color:#363636;
color:white;
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #66ff66;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #66ff66;    /* 枠の指定 */
}
.button:hover {
  color         : #66ff66;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}
}
.button:hover {
  opacity       : 0.8;         /* カーソル時透明度 */
}
#feedback {
 text-align: right;
}
#logo {
  text-align: center;
}



#f {
  background-color:black;
  color:white;
}
s {
  text-stroke: 1px white;
}


.text_img{
    width: 30px;
    vertical-align: mid
}
#i-s {
   background-color:#EDEDED;
}
header {
margin:0;
padding:0;
}








/******ここから下はトップへ戻るボタン************/
/*PAGE TOPボタン追加*/
#page_top{
width: 50px;
height: 50px;
position: fixed;
right: 0;
bottom: 50px;
background: #003a75; /*ボタンの色*/
opacity: 0.6;
border-radius: 50%; /*角の丸み*/
}
#page_top a{
position: relative;
display: block;
width: 50px;
height: 50px;
text-decoration: none;
}
#page_top a::before{
font-family: "Font Awesome 5 Free";
content: "f102"; /*アイコン*/
font-weight: 900;
font-size: 25px;
color: #fff; /*アイコンの色*/
position: absolute;
width: 25px;
height: 25px;
top: 0;
bottom: 0;
right: 0;
left: 0;
margin: auto;
text-align: center;
}
